header {
    top:0;
    display: flex;
    padding: 10px 5%;
    align-items: center;
    width: 100%;
    background-color: var(--color2);
    justify-content: space-between;
    position: fixed;
}

header img {
    width: 8em;
}

nav ul {
    display: flex;
    gap: 12px;
}

nav ul li a {
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1em;
    color: var(--color1);
    font-size: 1em;
}

nav ul li a:hover {
    opacity: 0.7;
}

.nav_btn {
    background-color: var(--color3);
    border-radius: 5px;
}

.nav_btn:hover {
    background-color: var(--color1);
    color: var(--color3);
    opacity: 1;
}