:root {
    --color1: #F2F2F2;
    --color2: #0D0D0D;
    --color3: #025CB2;
    --color4: #027B68;
    --color5: #E5390B;
}

html {
    scroll-behavior:auto;
}

body {
    padding-top: 80px;
    color: var(--color2);
}

main,
section {
    padding: 0px 5%;
}

main {
    height: 89vh;
    background-image: url(img/wallword-pacote-office-1-.jpg);
    background-position: center center;
    background-size: cover;
    color: var(--color1);
    padding-top: 6em;
    text-align: justify;
}

.fluenciadigital {
    background-color: #e53a0bf3;
    padding: 2em;
    border-radius: 10px;
    height: 20em;
    width: 32em;
    box-shadow: 6px 5px 5px 0px rgb(0 0 0 / 51%)
}

.fluenciadigital h1 {
    font-size: 36px;
}

.fluenciadigital h2 {
    padding-bottom: 0.5em;
}

.fluenciadigital p {
    width: 24em;
    padding: 1em 0px 2.5em 0px;
}

.fluenciadigital a {
    color: var(--color1);
    background-color: var(--color3);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 4px;
}

.fluenciadigital a:hover {
    background-color: var(--color1);
    color: var(--color3);
}

section {
    background-color: var(--color4);
    color: var(--color1);
    min-height: 10em;
}

section h2 {
    padding-top: 30px;
}

section p {
    padding: 15px 0px;
}

.vantagens {
    margin-top: 10px;
    min-height: 6em;
    text-align: center;
    max-width: 34em;
    margin: auto;
}

.vantagensitens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 24em;
    background-color: var(--color4);
    color: var(--color1);
}

.vantagensitens div {
    padding: 1em;
    max-width: 20em;
    min-height: 20em;
    text-align: center;
    border-radius: 10px;
}

.vantagensitens p {
    padding-top: 0 10px;
}

.item1 {
    background-image: url(img/icons/bubble2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18em;
}

.item2 {
    background-image: url(img/icons/bubble1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18em;
}

.item3 {
    background-image: url(img/icons/bubble3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18em;
}

footer {
    min-height: 3em;
    background-color: var(--color2);
    color: var(--color1);
    padding: 1em 5%;
}

footer p {
    text-align: center;
    padding-top: 10px;
}

footer h2 {
    text-align: center;
    padding-top: 10px;
}

footer a{
    color: #025CB2;
    font-weight: 600;
}

footer a:hover{
    color: #025CB2;
    font-weight: 600;
    text-decoration: underline;
}


.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes img{
    width: 40px;
    padding-left:5px;
    padding-top: 6px;
}


@media (max-width:940px) {
    .vantagensitens {
        flex-direction: column;
    }

    .fluenciadigital {
        margin: auto;
    }
}