:root {
    --color1: #F2F2F2;
    --color2: #0D0D0D;
    --color3: #1B80BF;
    --color4: #1D7342;
    --color5: #F23A29;
}

body {
    background-color: var(--color1);
        padding-top: 80px;
        color: #0D0D0D;
}

main {
    height: 400px;
    background-image: url(img/microsoft.webp);
    background-size: cover;
    background-position: center;
}